@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "daisyui";

/* Hide steppers (up/down arrows) for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide steppers (up/down arrows) for Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
